.flexbox-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  width: 100%;
  height: 60vh;
  visibility: hidden;
  align-items: baseline;
}

.flexbox-slider .flexbox-slide {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  width: 50px;
  min-width: 50px;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  visibility: visible;

  /* animation-name: equalize;
  animation-duration: 1s;
  animation-timing-function: linear; */
}

.flexbox-slider > .short {
  height: 90%;
}

.flexbox-slider .flexbox-slide:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  opacity: 0;
}
.flexbox-slider .flexbox-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
.flexbox-slider .flexbox-slide .text-block {
  position: absolute;
  left: 30px;
  bottom: 30px;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 4;
  visibility: hidden;
}
.flexbox-slider .flexbox-slide .text-block h3 {
  font-size: 20px;
  font-weight: 700;
}
.flexbox-slider .selected-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  flex-grow: 1;
  height: 100%;
  /* animation-name: widthAnimation;
  animation-duration: 1.5s;
  animation-delay: 0s; */
}

.flexbox-slider .flexbox-slide .text-block {
  bottom: 60px;
}
.flexbox-slider > .selected-slide > .text-block {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

/* .flexbox-slide:nth-child(1) {
  animation-delay: 0s;
}

.flexbox-slide:nth-child(2) {
  animation-delay: 0.5s;
}

.flexbox-slide:nth-child(3) {
  animation-delay: 1s;
}

.flexbox-slide:nth-child(4) {
  animation-delay: 1.5s;
}

.flexbox-slide:nth-child(5) {
  animation-delay: 2s;
} */

/* @keyframes widthAnimation {
  0% {
    flex-grow: 0;
    animation-delay: 9s;
  }
  100% {
    flex-grow: 1;
  }
}

@keyframes equalize {
  0% {
    height: 0%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
} */
