.rightPanel {
   padding: 0;
    max-width: 385px;
}

.social {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 1.2999999523162842px;
    text-align: right;
    align-items: center;
}

.social img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

@media (max-width:1024px) {
    .rightPanel {
        margin-right: 40px;
    }

    .social img {
        width: 40px;
        height: 40px;
        margin-left: 5px;
    }
}

@media (max-width: 430px) {
    .rightPanel {
        margin:0;
        margin-top: 19px;
        padding:0;
    }
    .social{
      align-items: center;
      justify-content:start;
    }
    .social img {
        width: 50px;
        height: 50px;
        margin-left: 15px;
    }
}
