.text p{
  font-size:16px;
  letter-spacing: 0.04;
  font-weight: 500;
}
.text p span{
  font-weight: 700;
}
.title:first-child{
  width: 663px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
}
