.bannerContainer {
    padding: 81px 140px 57px;
}

.para {
    font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: justify;
    max-width: 870px;
    margin-bottom: 61px;
}

.button {
    letter-spacing: 1.3px;
    margin-right: 26px;
    line-height: 19px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
}
.topBanner {
    padding: 0;
}

@media (max-width: 1024px) {
    .topBanner h1 {
        font-size: 44px;
        line-height: 53.64px;
        margin-bottom: 24px;
    }
}

@media (max-width: 768px) {
    .para {
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 40px;
    }

    .button {
        font-size: 14px!important;
        font-weight: 600!important;
        line-height: 19px;
        letter-spacing: 1.3px;
        text-align: center;
        padding: 8px 15px !important;
        height: auto!important;
        margin-right: 10px;
    }

    .bannerContainer {
        padding: 53px 40px 58px;
    }

    .topBanner {
        margin: 0;
        width: 100%
    }
}