.app__contact__wrapper {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 150px;
    padding-top: 15px;
}

.app__contact__header__color {
    font-weight: 600;
    font-size: 74px;
    font-family: 'Montserrat';
    letter-spacing: 1.3px;
    color: #05335B;
}

.diff {
    color: #4A9AFD;
    margin-left: 15px;
}

.app__contact__form__wrapper {
    margin-top: 27.5px;
    border-radius: 5px;
    width: 90%;
    height: 550px;
    background-color: #0073CF;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.app__contact__left__form {
    width: 48%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 93%;
    padding: 5px;
    position: relative;
}

.app__contact__left__form__header {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;

    letter-spacing: 1.3px;
    text-transform: capitalize;
}

.app__contact__left__form__body {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.app__contact__form__social {
    position: absolute;
    bottom: 80px;
}

.app__contact__form__social__icon {
    height: 60px;
    width: 60px;
}

.app__contact__right__form {
    width: 47%;
    height: 93%;
    border-radius: 5px;
    margin-left: 10px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 10px;
    flex-direction: column;
}

.app__contact__form__input {
    width: 98%;
    height: 60px;
    margin-bottom: 12.5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 5px;
}

.app__contact__form__textarea {
    width: 98%;
    height: 110px;
    border: 1px solid lightblue;
    background-color: white;
    margin-bottom: 12.5px;
    padding: 5px 10px;
    border-radius: 10px;
}


.app__contact__form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;

    width: 98%;
    height: 59px;

    background: #FFDB5C;
    /* box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25); */
    font-weight: bold;
    border-radius: 10px;
}


@media only screen and (max-width: 1024px) {

    .app__contact__header__color {
        font-size: 64px;
    }

    
    .app__contact__form__wrapper {
        height: 500px;
    }

    .app__contact__left__form {
        width: 50%;
    }

    .app__contact__left__form__header {
        font-size: 36px;
        display: flex;
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 20px;
        letter-spacing: 1.3px;
        text-transform: capitalize;

    }

    .app__contact__form__social {
        position:absolute;
        top: 65%;
        
    }

      .app__contact__left__form__body {
        font-size: 14px;
        margin-top: 20px;
        line-height: 25px;
    }

    .app__contact__form__social__icon {
        width: 20px;
        height: 20px;
    }

    .app__contact__right__form {
        width: 50%;
        margin-left: 10px;
    }

    .app__contact__form__input {
        height: 50px;
    }

    .app__contact__form__textarea {
        height: 100px;
    }

    .app__contact__form__button {
        height: 49px;
    }
}

@media only screen and (max-width: 768px) {
    .app__contact__header__color {
        font-size: 54px;
    }

    .app__contact__form__wrapper {
        height: 425px;
    }

    .app__contact__left__form {
        width: 47%;
    }

    .app__contact__left__form__header {
        font-size: 25px;
    }

    .app__contact__left__form__body {
        font-size: 12px;
        margin-top: 20px;
        line-height: 20px;
    }

    .app__contact__form__social__icon {
        width: 40px;
        height: 40px;
    }

    .app__contact__right__form {
        width: 52%;
        margin-left: 10px;
    }

    .app__contact__form__input {
        height: 40px;
    }

    .app__contact__form__textarea {
        height: 90px;
    }

    .app__contact__form__button {
        height: 39px;
    }
}

@media only screen and (max-width: 425px) {
    .app__contact__header__color {
        font-size: 44px;
    }

    .app__contact__form__wrapper {
        height: 1186px;
        flex-direction: column;
    }

    .app__contact__form__social {
        bottom: 50px;
    }

    .app__contact__left__form {
        width: 100%;
        height: 46%;
    }

    .app__contact__left__form__header {
        font-size: 25px;
        }

    .app__contact__left__form__body {
        font-size: 12px;
        margin-top: 20px;
        line-height: 20px;
    }

    

    .app__contact__form__social__icon {
        width: 32px;
        height: 32px;
    }

    .app__contact__right__form {
        width: 100%;
        margin-left: 0px;
        height: 54%;
    }

    .app__contact__form__input {
        height: 55px;
    }

    .app__contact__form__textarea {
        height: 223px;
    }

    .app__contact__form__button {
        height: 45px;
    }
}

@media only screen and (max-width: 320px) {
    .app__contact__header__color {
        font-size: 36px;
    }

    .app__contact__form__wrapper {
        height: 750px;
        flex-direction: column;
    }

    .app__contact__form__social {
        bottom: 50px;
    }

    .app__contact__left__form {
        width: 100%;
        height: 46%;
    }

    .app__contact__left__form__header {
        font-size: 20px;
    }

    .app__contact__left__form__body {
        font-size: 10px;
        margin-top: 20px;
        line-height: 20px;
    }

    .app__contact__form__social__icon {
        width: 30px;
        height: 30px;
    }

    .app__contact__right__form {
        width: 100%;
        margin-left: 0px;
        height: 54%;
    }

    .app__contact__form__input {
        height: 35px;
        width: 98%;
    }
    
    .app__contact__form__textarea {
        width: 98%;
        height: 110px;
    }
    
    .app__contact__form__button {
        width: 98%;
        height: 45px;
    }
}