.noPadding {
    padding: 0;
    display: flex;
    flex-direction:column;
    align-items: start;
    margin:0;
}
@media (max-width: 758px) {
  .noPadding{
    flex-direction:column;
    justify-content: center;
    align-items: center;

  }
}
@media (max-width: 1230px) {
  .noPadding{
    padding:0 50px;
  }
}
@media(min-width: 1800px){
  .noPadding{
    padding-left:0;
    width:100%;
    align-items: center;

  }
  .content{
    padding-left:0;
    width:100%;
    justify-content:center;
    gap:5%;
  }

}

