html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
    padding: 0 !important;
}

.container {
    max-width: 100%
}

#CookiebotWidget {
    display: none !important;
}