.sectionContainer {
  margin-bottom: 93px;
}

.section {
  box-shadow: 0px 10px 10px #efefef;
  margin-top: 93px;
}

.missionBg {
  height: 700px;
  background-position: left top;
  background-size: cover;
  position: relative;
}

.missionContainer {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #0073cfeb;
  height: 45%;
}

.missionInner {
  max-width: 470px;
  color: white;
}

.missionInner h3,
.visionContainer h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 1.3px;
  text-align: left;
  margin-bottom: 16px;
}

.missionInner p,
.visionContainer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justify;
}
.visionContainer p,
.visionContainer h3 {
  max-width: 470px;
  color: #05335b;
}

.visionCol {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.visionContainer {
  padding-left: 79px;
  width: 100%;
}

@media (max-width: 992px) {
  .visionCol {
    padding: 36px 40px;
  }
  .visionContainer {
    padding: 0;
  }
  .missionContainer {
    justify-content: flex-start;
    padding: 36px 46px;
    background: #0073cf;
  }
}

@media (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
  }

  .visionCol {
    box-shadow: 3px 0px 9px #c6c6c6;
  }

  .sectionContainer {
    padding: 0;
    margin-bottom: 80px;
  }

  .visionContainer p {
    max-width: 420px;
  }

  .missionBg {
    height: 700px;
  }
}

@media (max-width: 580px) {
  .visionContainer {
    /* padding:0; */
  }
}

@media (max-width: 500px) {
  .missionInner h3,
  .visionContainer h3 {
    font-size: 24px;
    line-height: 29px;
    text-align: left;
  }

  .missionInner p,
  .visionContainer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .missionBg {
    height: 600px;
  }

  .missionContainer {
    padding: 36px 40px;
  }

  .section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
  }

  .visionCol {
    /* box-shadow: 3px 0px 9px #c6c6c6; */
  }

  .sectionContainer {
    padding: 0;
    margin-bottom: 80px;
  }
}
